---
# file: ssh/handlers/main.yml
#
# handlers file
#

- name: reload ssh
  service:
    name=ssh
    state=reloaded
  become: yes

- name: restart ssh
  service:
    name=ssh
    state=restarted
  become: yes

- name: start ssh
  service:
    name=ssh
    state=started
  become: yes

- name: stop ssh
  service:
    name=ssh
    state=stopped
  become: yes